.LightMode {
  background-color: #ffffff;
  color: #27292d;
}

.LightMode a,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #27292d;
}

.DarkMode {
  background-color: #27292d;
  color: #b4b4b4;
}

.DarkMode li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: #dfdfdf;
}

* {
  margin: 0;
  padding: 0;
}
